{% extends "orders/base.html" %}

{% block title %}
    Italian
{% endblock %}

{% block body %}
<div class="container text-center">
  <div class="row justify-content-center margin-top">
    <div class="col-4">
      <h2>Italian Menu</h2>
      <h4 class="lead">Our Itialian specialities</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="lead">Pasta</p>
      <dl class="text-center Capitalize">
        {% for p in pasta %}
        <dd class="item">{{ p.name }}<a href="#" data-type='pasta' data-order='{"ID":"{{p.id}}", "name":"{{p.name}}", "price":{{p.price}}}' class="fas fa-cart-arrow-down new-order">${{p.price}}</a></dd>
        {% endfor %}
      </dl>
    </div>
    <div class="col">
      <p class="lead">Salad</p>
      <dl class="text-center Capitalize">
        {% for p in salad %}
        <dd class="item">{{ p.name }}<a href="#" data-type='salad' data-order='{"ID":"{{p.id}}", "name":"{{p.name}}", "price":{{p.price}}}' class="fas fa-cart-arrow-down new-order">${{p.price}}</a></dd>
        {% endfor %}
      </dl>
    </div>
  </div>
</div>

{% endblock %}
